# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
*.properties
build.xml
manifest.mf
build-impl.xml
scrabble_client/target/*
scrabble_server/target/*

# Class Files #
*.class
*.jar

# Vim, OS, ...
*.un~
*.swp
