# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
*.properties

# Class Files #
*.class
*.jar

# Vim, OS, ...
*.un~
*.swp
/Scrabble Server/nbproject/private/
/Scrabble Client/nbproject/private/